:root {
  /* colors  */

  /* grid */
  --g-columns: 16;
  --g-column-width: 71.25px;
  --g-gap: 20px;

  /* boundaries */
  --b-body-width: calc(var(--g-columns) * var(--g-column-width) + (var(--g-columns) -1) * var(--g-gap));
  --b-container-padding: 20px;
}

[scheme='dark'] {
  --c-fg: #e5e5e5;
  --c-fg-secondary: #8a8a8a;
  --c-bg: #262a2f;
  --c-accent: #f53;
}

[scheme='light'] {
  --c-fg: #262a2f;
  --c-bg: #e5e5e5;
  --c-accent: #f53;
}
